* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #1f2d3d;
  background: white;
}


.header {
  background: #38b6ff;
  padding: 0px 0px;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo img {
  width: 180px;
  height: 180px;
}

.logo span {
  font-size: 80px;
  font-weight: normal;
  color: black;
}


.nav {
  background: #5ce1e6;
  display: flex;
  justify-content: space-around;
}

.nav a {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  text-decoration: none;
  color: black;
  font-size: 40px;
  border-right: 3px solid black;
}

.nav a:last-child {
  border-right: none;
}


.container {
  width: 90%;
  margin: 40px auto;
}

h1 {
  font-size: 60px;
  color: #295077;
}

h2 {
  font-size: 40px;
  color: #38b6ff;
}

p {
  font-size: 35px;
  line-height: 1.5;
}


.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.welcome-box {
  background: #caf5f7;
  padding: 25px;
  margin-top: 20px;
  text-align: center;
}

.home img {
  width: 105%;
  height: auto;
}

@media (max-width: 1400px) {
  .home {
    grid-template-columns: 1fr;
  }
}

.history {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 40px;
}

.fact {
  background: #caf5f7;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.history img {
  width: 100%;
  height: auto;
}

@media (max-width: 1400px) {
  .history {
    grid-template-columns: 1fr;
  }
}

.places {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.place {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 20px;
}

.place img {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: auto;
  object-fit: cover
}

@media (max-width: 1400px) {
  .place {
    grid-template-columns: 1fr;
  }
}


.photos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.photos img {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: auto;
  object-fit: cover
}

@media (max-width: 1000px) {
  .photos {
    grid-template-columns: 1fr;
  }
}

.custom-link {
    text-decoration: underline; 
    color: inherit;
    font-size: 35px;
}

